/* About Section */
.about {
  background-color:white;
  color: black;
  text-align: center;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 2rem 0; /* Ensures equal padding on top and bottom */
}

/* Container for the content */
.about-container {
  max-width: 900px;
  margin: 0;
  padding: 20px;
}

/* Heading Style */
.about-heading {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}

/* Paragraph/Text Style */
.about-text {
  font-size: 1.125rem;
  line-height: 1.6;
  color: black;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Stats Section */
.stats-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
}

/* Each stat box */
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;

}

/* Styling for the numbers */
.stat h3 {
  font-size: 3rem; /* Large number */
  font-weight: bold;
  color: #48AD71; /* Black */
  line-height: 1; /* Ensures closer spacing between number and text */
  margin-bottom: 5px; /* Adjust spacing */
}

/* Styling for the labels */
.stat p {
  font-size: 1.25rem;
  color: black;
  font-weight: normal;
  margin: 0;
}
